@model ServiceElectronicQueue.Models.ForViews.Account.OrganizationAccountForView

<div style="text-align: left">
    <h2>Компания: @Model.Title</h2>
    @*<button></button>*@
    <h4> В аккаунт организации вошёл: @Model.Surname @Model.Name @Model.Patronymic</h4>
    <h4>Уникальный ключ: @Model.UniqueKey</h4>
</div>

<div style="text-align: right">
    <form asp-controller="OrganizationAccount" asp-action="OrganizationAccountGenerateUniqueKey" method="post">
        <button type="submit" class="btn btn-primary">Создать уникальный ключ для подключения филиалов</button>
    </form><br />
</div>